<!DOCTYPE html>
<head>
	<title><%= title %></title>
	<meta name="keywords" content="FFFä¼ é€" />
	<meta charset="utf-8" />
	<link rel="icon" 	   href="image/fff-icon-001.png" />
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/jump404.css" />
</head>
<body>
	<div>
		<h1>
			<span><%= __('SITENAME') %></span><br />
			<small id='headmotd'>&emsp;<%= __('SITETAGLINE') %>&emsp;</small>
		</h1>
	</div>
	<hr style='box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
	<div>
		<h2>
			<%= __('404') %>
		</h2>
		<h3>
			<a class='btn btn-success' href="/"><%= __('BACKINDEX') %></a>
		</h3>
		<h4>
			<br>
			<p><%= __('BACKINDEXJUMP') %></p>
		</h4>
	</div>	
	<hr style='box-shadow: 0px 10px 40px 5px rgba(255,70,0,0.35);' />

	<h5 class="text-muted">
		2013&emsp;<%= __('SITENAME') %>&emsp;
		<span class="glyphicon glyphicon-fire firefiresmall"></span>
		&emsp;<%= __('SITETAGLINE') %>
	</h5>
<!--Bootstrap-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jump.js"></script>
</body>
</html>
