<%-include header%>
<%-include navbar%>

<!-- main -->
	<div class="container" id='wrap'>
		<div id="about">
			<h1 style="text-align: center">
				<span class='FFFshort'><%= __('SITENAME') %></span><br />
				<span class="glyphicon glyphicon-fire firefire"></span>
				<small>&emsp;<%= __('SITETAGLINE') %>&emsp;</small>
				<span class="glyphicon glyphicon-fire firefire"></span>
			</h1>
			<hr style='box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
			<div class="about-inner" style="text-align: center;color:#880000;">
				<p><%= __('ABOUT_TEXT_1') %></p>
				<p><%= __('ABOUT_TEXT_2') %></p>
				<p><%= __('ABOUT_TEXT_3') %></p>
				<p><%= __('ABOUT_TEXT_4') %></p>
				<br>
				<%-include ffffire%>
				<br>
				<img src="image/FFFFFFFF.gif"  alt="FFFFFFFF" style='max-width: 356px;'>
			</div>
		</div>
	</div><!-- /.container -->

<%-include footer%>