<%-include header%>
<%-include navbar%>

<!-- main -->
	<div class="container" id='wrap'>
		<div class="container" style="min-height: 500px;">
			<div class="container accountform" id="account">
				<h1 style="text-align: center">
					<span class="glyphicon glyphicon-credit-card firefire fffcard"></span>
					<span class="glyphicon glyphicon-fire firefire"></span>
					<span class='FFFshort'><%= __('MY_ACCOUNT') %></span>
					<span class="glyphicon glyphicon-fire firefire"></span>
					<span class="glyphicon firefire"></span>
					<br />
					<small id='username'><%= user.name %></small>&emsp;
				</h1>
				<hr style='margin: 1px;	box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
				<h2 style="margin: 10px 20px 20px 20px;text-align: left">
					<span><%= __('EDIT_USER_INFO') %>:&nbsp;</span>
					<small style="font-size: 15px"><%= __('USER_HELP_INFO') %></small>
				</h2>
				<div>
					<form method="post" id="user-form" class="form-horizontal" role="form">
						<input type="hidden" name="_csrf" />
						<fieldset>
							<div class="form-group">
								<label class="col-lg-3 control-label"><%= __('USERNAME') %></label>
								<div class="col-lg-7">
									<p class="form-control-static" id='username'></p>
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-lg-3 control-label"><%= __('EMAIL') %></label>
								<div class="col-lg-7">
									<input class="form-control" type="text" id="email" name="email" value="example@example.com" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label" for="password"><%= __('CURRENT_PASSWORD') %></label>
								<div class="col-lg-7">
									<input type="password" class="form-control" id="password" name="password" />
								</div>
							</div>
							<hr />
							<div class="form-group">
								<label class="col-lg-3 control-label" for="newpass"><%= __('NEW_PASSWORD') %></label>
								<div class="col-lg-7">
									<input type="password" class="form-control" id="newpass" name="newpass" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label" for="password-repeat"><%= __('REPEAT_NEW_PASSWORD') %></label>
								<div class="col-lg-7">
									<input type="password" class="form-control" id="password-repeat" name="password-repeat" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-3 col-lg-10">
									<button type="button" class="btn btn-success" id='accountchange'>
										<span class="glyphicon glyphicon-fire firefiresmall"></span>
										<span><%= __('FFF') %></span>
										<span class="glyphicon glyphicon-fire firefiresmall"></span>
									</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<!-- sendmessage success -->
			<div class="container" style='display: none;overflow: hidden;' id='accountchangesuccess'>
				<div id="about">
					<h1 style="text-align: center">
						<span class="glyphicon glyphicon-credit-card firefire fffcard"></span>
						<span class="glyphicon glyphicon-fire firefire"></span>
						<span class='FFFshort'><%= __('MY_ACCOUNT') %></span>
						<span class="glyphicon glyphicon-fire firefire"></span>
						<span class="glyphicon firefire"></span>
						<br />
						<small id='username'></small><small>&emsp;</small>
					</h1>
						<p class='msgres'><%= __('PASSWORD_UPDATED') %></p>
						<button type="button" class="btn btn-lg btn-danger btn-block goshort" id="successbackaccount">
							<span >壮哉大FFF团！！</span>
						</button>
					<hr />
					<div class="account-inner">
						<%-include ffffire%>
					</div>
				</div>
			</div>
			<!-- sendmessage fail -->
			<div class="container" style='display: none;overflow: hidden;' id='accountchangefail'>
				<div id="about">
					<h1 style="text-align: center">
						<span class="glyphicon glyphicon-credit-card firefire fffcard"></span>
						<span class="glyphicon glyphicon-fire firefire"></span>
						<span class='FFFshort'><%= __('MY_ACCOUNT') %></span>
						<span class="glyphicon glyphicon-fire firefire"></span>
						<span class="glyphicon firefire"></span>
						<br />
						<small id='username'></small><small>&emsp;</small>
					</h1>
						<p class='msgres'><%= __('PASSWORD_UPDATED_FAIL') %></p>
						<button type="button" class="btn btn-lg btn-primary btn-block goshort" id="failbackaccount">
							<span ><%= __('RETRY_CHANGE_PW') %>&ensp;</span>
						</button>
					<hr />
					<div class="account-inner">
						<%-include ffffire%>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.container -->
	
<%-include footer%>
