<%-include header%>
<%-include navbar%>

<!-- main -->
	<div class="container"  id='wrap'>
		<!-- send message -->
		<div id="contact">
			<h2><span class="FFFshort">&dagger;</span>&ensp;联系传送部长</h2>
			<small>如果想要和FFF团传送部长联系，请在这里点火。</small>
			<hr style='margin: 1px;	box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
			<div id="contact-inner">
				<form class="form-horizontal" role="form" method="post">
					<input type="hidden" name="_csrf" />
					<div class="form-group">
						<label for="username" class="col-lg-2 control-label">点火者名字</label>
						<div class="col-lg-9">
							<p class="form-control-static"><span id="username"></span>&emsp;<span id='email'></span></p>
						</div>
					</div>
					<div class="form-group">
						<label for="subject" class="col-lg-2 control-label">可燃物名称</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="subject" name="subject" placeholder="不纯洁的异性恋" />
						</div>
					</div>
					<div class="form-group">
						<label for="message" class="col-lg-2 control-label">可燃物信息</label>
						<div class="col-lg-9">
							<textarea class="form-control" id="message" name="message" rows="10"  placeholder="不～可～饶～恕～!" style='max-width: 600px;'></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-9">
							<button type="button" class="btn btn-lg btn-danger" id='firemessage'>
								<span class="glyphicon glyphicon-fire" style='font-size: 20px;'></span>&ensp;<br>
								<span class="glyphicon glyphicon-file" style='font-size: 30px; top:-3px'></span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id='fireburn'>
			<%-include ffireburn%>
		</div>
		<!-- sendmessage success -->
		<div class="container" style='display: none;overflow: hidden;' id='sendsuccess'>
			<div id="about">
				<h1 style="text-align: center">
					<span class='FFFshort'>
						<span class="glyphicon glyphicon-fire"></span>
						<span style='color:#880000;'>&thinsp;FFF传送&thinsp;</span>
						<span class="glyphicon glyphicon-fire"></span>
					</span>
				</h1>
					<p class='msgres'>燃烧成功！</p>
					<button type="button" class="btn btn-lg btn-danger btn-block goshort" id="morefire">
						<span >Fire&ensp;More！</span>
					</button>
				<hr />
				<div class="about-inner">
					<%-include ffffire%>
				</div>
			</div>
		</div>

		<!-- sendmessage fail -->
		<div class="container" style='display: none;overflow: hidden;' id='sendfail'>
			<div id="about">
				<h1 style="text-align: center">
					<span class='FFFshort'>
						<span class="glyphicon glyphicon-tint" style='color: #0077EE'></span>
						<span style='color:#000000;'>&thinsp;FFF传送&thinsp;</span>
						<span class="glyphicon glyphicon-tint" style='color: #0077EE'></span>
					</span>
				</h1>
					<p class='msgres'>燃烧失败！</p>
					<button type="button" class="btn btn-lg btn-primary btn-block goshort" id="fireagain">
						<span >Fire&ensp;Again！</span>
					</button>
				<hr />
				<div class="about-inner">
					<%-include ffffire%>
				</div>
			</div>
		</div>
	</div><!-- /.container -->

<%-include footer%>
