<%-include header%>
<%-include navbar%>
	
<!-- main -->
	<div class="container" id='wrap'>
		<div id="forgotpw">
			<h1 style="text-align: center">
				<span class="glyphicon glyphicon-fire firefire"></span>
				<span class='FFFshort'><%= __('MY_ACCOUNT') %></span>
				<span class="glyphicon glyphicon-fire firefire"></span>
				<br />
				<small><%= __('RESET_PASSWORD') %>&ensp;</small>
			</h1>
			<hr style='box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
			<form class="form-horizontal" method="post">
				<input type="hidden" name="_csrf" />
				<div style='overflow: hidden;height: 0px;' id='forgotpwform'>
					<div class="form-group">
						<label class="col-lg-3 control-label" for="email"><%= __('EMAIL') %></label>
						<div class='col-lg-8'>
							<input type="email" name="email" class="form-control" id="email" placeholder="example@example.com" />
						</div>
					</div>
					<p class='msgres alert alert-danger' style='color: #dd0000;display: none;' id='forgotpwsuccess'>
						<span><%= __('RESET_MAIL_SENT') %></span>&thinsp;
					</p>
					<p class='msgres alert alert-info' style='color: #00aa00;display: none;' id='forgotpwfail'>
						<span><%= __('RESET_MAIL_SENT_FAIL') %></span>&thinsp;
					</p>
				</div>
				<hr style='box-shadow: 0px 10px 40px 5px rgba(255,70,0,0.35);' />
				<button type="button" class="btn btn-lg btn-danger btn-block" id='btnforgotpw'><%= __('RESET_PW') %></button>
				<br>
			</form>
		</div>
	</div><!-- /.container -->

<%-include footer%>

</html>
