<%-include header%>
<%-include navbar%>

<!-- main -->
	<div class="container" id='wrap'>
		<div class="starter-template">
			<form role="form" method="post">
				<div class="form-group">
					<label for="shorturl" class='btn-block header'>
						<img src="/image/fff-header.jpg" alt="FFF" width="600" height="250" style='border-radius: 10px;' />
					</label>
					<div id='shortfire'>
						<label class="sr-only" for="shorturl">Put long url</label>
						<input type="text" class="form-control longurl" id="shorturl" name='shorturl' placeholder="<%= __('FIREFIREFIRE') %>" autofocus />
					</div>
				</div>
				<button type="button" class="btn btn-lg btn-danger btn-block goshort" id="fireshout">
					<span style="display: inline;"><%= __('SENDLONG') %></span>
					<span style="display: none;"><%= __('SENGLONGAGAIN') %></span>
				</button>
			</form>
		</div>
	</div><!-- /.container -->

<%-include footer%>