<%-include header%>
<%-include navbar%>

<!-- main -->
	<div class="container" id='wrap'>
		<div id="signin">
			<h1 style="text-align: center">
				<span class="glyphicon glyphicon-fire firefire"></span>
				<span class='FFFshort'><%= __('MY_ACCOUNT') %></span>
				<span class="glyphicon glyphicon-fire firefire"></span>
				<br />
				<small><%= __('CHECK_PW') %>&ensp;</small>
			</h1>
			<hr style='box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
			<form class="form-horizontal" method="post">
				<input type="hidden" name="_csrf" />
				<div style='overflow: hidden;height: 0px;' id='loginform'>
					<div class="form-group">
						<label class="col-lg-3 control-label" for="username"><%= __('USERNAME') %></label>
						<div class='col-lg-7'>
							<input type="text" name="username" class="form-control" id="username" placeholder="Sugawa Ryou" autofocus />
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label" for="password"><%= __('PASSWORD') %></label>
						<div class='col-lg-7'>
							<input type="password" name="password" class="form-control" id="password" placeholder="FFF" />
						</div>
					</div>
					<p class='msgres' style='color: #BC0000;display: none;' id='loginsuccess'>
						<span class="glyphicon glyphicon-fire"></span>
						<span><%= __('LOGIN_SUCCESS') %></span>
						<span class="glyphicon glyphicon-fire"></span>
					</p>
					<p class='msgres' style='color: #0077EE;display: none;' id='loginfail'>
						<span class="glyphicon glyphicon-tint" style='color: #0077EE'></span>
						<span><%= __('LOGIN_FAIL') %></span>
						<span class="glyphicon glyphicon-tint" style='color: #0077EE'></span>
					</p>
				</div>
				<hr style='box-shadow: 0px 10px 40px 5px rgba(255,70,0,0.35);' />
				<div class="form-group" style='margin-bottom: 5px'>
					<label>
						<p class="help-block">&emsp;<%= __('LOGIN_HELP') %></p>
					</label>
				</div>
				<button type="button" class="btn btn-lg btn-danger btn-block" id='btnsignin'><%= __('LOGIN') %></button>
				<br>
				<div class="form-group">
					<a href="/forgot-password"><small><%= __('FORGOT_PASSWORD') %></small></a>
				</div>
			</form>
		</div>
	</div><!-- /.container -->

<%-include footer%>
