<%-include header%>
<%-include navbar%>

<!-- main -->
	<div class="container" id='wrap'>
		<div id="signup">
			<h1 style="text-align: center">
				<span class="glyphicon glyphicon-fire firefire"></span>
				<span class='FFFshort'><%= __('MY_ACCOUNT') %></span>
				<span class="glyphicon glyphicon-fire firefire"></span>
				<br />
				<small><%= __('REG_FFF') %>&ensp;</small>
			</h1>
			<hr style='box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
			<form class="form-horizontal" method="post">
				<input type="hidden" name="_csrf" />
				<div style='overflow: hidden;height: 0px;' id='signupform'>
					<div class="form-group">
						<label class="col-lg-3 control-label" for="username"><%= __('USERNAME') %></label>
						<div class='col-lg-7'>
							<input type="text" name="username" class="form-control" id="username" placeholder="Sugawa Ryou" autofocus />
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label" for="email"><%= __('EMAIL') %></label>
						<div class='col-lg-7'>
							<input type="email" name="email" class="form-control" id="email" placeholder="example@example.com" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label" for="password"><%= __('PASSWORD') %></label>
						<div class='col-lg-7'>
							<input type="password" name="password" class="form-control" id="password" placeholder="FFF" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label" for="password-repeat"><%= __('REPEAT_PASSWORD') %></label>
						<div class='col-lg-7'>
							<input type="password" name="password-repeat" class="form-control" id="password-repeat" placeholder="FFF" />
						</div>
					</div>
					<p class='msgres' style='color: #BC0000;display: none;' id='signupsuccess'>
						<span class="glyphicon glyphicon-fire"></span>
						<span><%= __('REG_AWAITING_VERIFICATION') %></span>
						<span class="glyphicon glyphicon-fire"></span>
					</p>
					<p class='msgres' style='color: #0077EE;display: none;' id='signupfail'>
						<span class="glyphicon glyphicon-tint" style='color: #0077EE'></span>
						<span><%= __('SIGNUP_FAIL') %></span>
						<span class="glyphicon glyphicon-tint" style='color: #0077EE'></span>
					</p>
				</div>
				<hr style='box-shadow: 0px 10px 40px 5px rgba(255,70,0,0.35);' />
				<button type="button" class="btn btn-lg btn-danger btn-block" id='btnsignup'>
					<span class="glyphicon glyphicon-fire firefiresmall"></span>
					<span><%= __('FFF') %></span>
					<span class="glyphicon glyphicon-fire firefiresmall"></span>
				</button>
				<br>
				<div class="form-group">
					<a href="/forgot-password"><small><%= __('FORGOT_PASSWORD') %></small></a>
				</div>
			</form>
		</div>
	</div><!-- /.container -->

<%-include footer%>

