<!DOCTYPE html>
<head>
	<title><%= title %></title>
	<meta name="keywords" content="FFF传送" />
	<meta charset="utf-8" />
	<link rel="icon" 	   href="image/fff-icon-001.png" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/javascripts/html5shiv.js"></script>
	<script src="/javascripts/respond.min.js"></script>
	<![endif]-->

</head>
<body>
<!-- nav bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-fire firefiresmall"></span>&thinsp;FFF传送</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/special">特殊传送</a></li>
					<li><a href="/about">关于FFF传送</a></li>
					<li><a href="/contact">联系传送部长</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<small style='color: #F00' id='navmotd'>烧&thinsp;!&emsp;</small>
					<a href='/account' class="btn btn-success">FFF团卡</a>
					<button type="submit" class="btn btn-primary">贤者模式</button>
				</form>
			</div><!--/.nav-collapse -->
		</div>
	</div>

<!-- main -->
	<div class="container" id='wrap'>
		<div id="special">
			<h1 style="text-align: center">
				<span class='FFFshort'><%= __('SPECIAL') %></span><br />
				<span class="glyphicon glyphicon-fire firefire"></span>
				<small id='headmotd'>&emsp;<%= __('SITETAGLINE') %>&emsp;</small>
				<span class="glyphicon glyphicon-fire firefire"></span>
			</h1>
			<hr style='box-shadow: 0px -10px 40px 5px rgba(255,70,0,0.35);' />
			<table class="table table-hover">
				<thead>
					<tr>
						<th class='recordtd-id'><%= __('RECORD_ID') %></th>
						<th class="record-long"><%= __('DOMAIN_RECORD') %></th>
						<th class="record-short"><%= __('RECORD_CONTENT') %></th>
						<th><%= __('EDIT_RECORD') %></th>
						<th><%= __('DELETE_RECORD') %></th>
					</tr>
				</thead>
				<tbody>
			<!-- records start -->
				<!-- idn means record-id-namber -->
					<tr id="record-row-idn">
						<td class='recordtd-id' id='record-id-idn'>fffname</td>
						<td class='recordtd-long' id='record-long-idn'>ffflong</td>
						<td class='recordtd-short' id='record-short-idn'>fffshort</td>
						<td>
							<button type="submit" class="btn btn-info btn-xs" id='change-record-idn'>更改</button>
							<button type="submit" class="btn btn-success btn-xs" id='do-change-record-idn' style='display: none'>确认</button>
						</td>
						<td>
							<button type="submit" class="btn btn-danger btn-xs" id='fire-record-idn'>死刑！</button>
						</td>
					</tr>
			<!-- records end -->
				</tbody>
			</table>
			<hr style='box-shadow: 0px 10px 40px 5px rgba(255,70,0,0.35);' />
			<button type="submit" class="btn btn-default" id='new-record'>新增记录</button>
		</div>
	</div><!-- /.container -->

<!-- footer -->
	<div id="footer">
		<div class="container">
			<p class="text-muted credit">
				2013&emsp;FFF传送&emsp;
				<span class="glyphicon glyphicon-fire firefiresmall"></span>
				&emsp;我们的事业是正义的！
			</p>
		</div>
	</div>

<!-- Bootstrap-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/functions.js"></script>
</body>
</html>
